<!-- <section class="py-5">
    <gif-list [gifs]="gifService.trendigGifs()" />
</section> -->

<div
    class="h-screen overflow-y-scroll grid grid-cols-2 md:grid-cols-4 gap-4 no-scrollbar"
    (scroll)="onScroll($event)"
    #groupDiv
>
    @for (group of gifService.trendingGifGroup(); track $index) {

    <div class="grid gap-4">
        @for (gif of group; track gif.id) {
        <div>
            <img
                class="h-full w-full rounded-lg object-contain"
                [src]="gif.url"
                [alt]="gif.title"
            />
        </div>
        }
    </div>
    }
</div>
