/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

/* styles.css */
.no-scrollbar {
  scrollbar-width: none;       /* Firefox */
  -ms-overflow-style: none;    /* IE 10+ */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;               /* Chrome, Safari */
}
